# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/
.env

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
